{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    <script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script>
    <title>{% trans 'Gráfico' %}</title>
    <style>
    .center{
        float: none;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 center">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>
    
    <script>
        Highcharts.chart('container', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Visitas por edad de los usuarios por Género'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Edad'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'N° Visitas'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
        borderWidth: 1
    },
    plotOptions: {
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} cm, {point.y} kg'
            }
        }
    },
    series: [{
        name: 'Mujeres',
        color: 'rgba(223, 83, 83, .5)',
        data: [[12, 51.6], [13, 59.0], [14, 49.2], [15, 63.0], [16, 53.6],
            [17, 59.0], [18, 47.6], [19, 69.8], [20, 66.8], [21, 75.2],
            [22, 55.2], [23, 54.2], [24, 62.5], [25, 42.0], [26, 50.0],
            [27, 49.8], [28, 49.2], [29, 73.2], [30, 47.8], [31, 68.8],
            [32, 50.6], [33, 82.5], [34, 57.2], [35, 87.8], [36, 72.8],
            [37, 54.5], [38, 59.8], [39, 67.3], [40, 67.8], [41, 47.0],
            [42, 46.2], [12, 51.6], [13, 59.0], [14, 49.2], [15, 63.0], 
            [17, 59.0], [18, 47.6], [19, 69.8], [20, 66.8], [21, 75.2],
            [22, 55.2], [23, 54.2], [24, 62.5], [25, 42.0], [26, 50.0],
            [27, 49.8], [28, 49.2], [29, 73.2], [30, 47.8], [31, 68.8],
            [32, 50.6], [33, 82.5], [34, 57.2], [35, 87.8], [36, 72.8],
            [37, 54.5], [38, 59.8], [39, 67.3], [40, 67.8], [41, 47.0]]


    }, {
        name: 'Hombres',
        color: 'rgba(119, 152, 191, .5)',
        data: [ [16, 78.8],
            [42, 46.2], [43, 55.0], [44, 83.0], [45, 54.4], [46, 45.8],
            [20, 53.6], [20, 73.2], [14, 52.1], [15, 67.9], [16, 56.6],
            [17, 62.3], [18, 58.5], [19, 54.5], [20, 50.2], [21, 60.3],
            [22, 58.3], [23, 56.2], [24, 50.2], [25, 72.9], [26, 59.8],
            [27, 61.0], [28, 69.1], [29, 55.9], [30, 46.5], [31, 54.3],
            [32, 54.8], [33, 60.7], [34, 60.0], [35, 62.0], [36, 60.3],
            [37, 52.7], [38, 74.3], [39, 62.0], [40, 73.1], [41, 80.0],
            [42, 81.8], [43, 53.6], [44, 54.5], [45, 53.6], [46, 60.0],
            [47, 73.6], [18, 61.4], [20, 55.5], [19, 63.6], [18, 60.9],
            [29, 60.0], [28, 46.8], [27, 57.3], [26, 64.1], [25, 63.6],
            [13, 67.3], [14, 75.5], [17, 68.2], [16, 61.4], [15, 76.8],
            [17, 71.8], [16, 55.5], [16, 48.6], [17, 66.4], [16, 67.3]]
    }]
});
    </script>
{% endblock %}

