{% extends "base.html" %}
{% load static %}
{% load i18n %}
 
{% block title %}
<script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script> 
<title>{% trans 'estadistica' %}</title>
<style>
    .center{
        float: none;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
{% endblock %}

{% block content %}
   <div class="container-fluid center">
        <div class="row">
            <div class="col-lg-12 center">
                <div id="musicporanio">
                </div>
            </div>
        </div>
    </div>
    
    <script type="application/javascript">
        Highcharts.chart('musicporanio', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cantidad de musica descargada en el Año'
    },
    subtitle: {
        text: 'Grafico que muestra el total de descargas ocurridas en cada mes durante el año'
    },
    xAxis: {
        categories: [
            'enero',
            'febrero',
            'marzo',
            'abril',
            'mayo',
            'junio',
            'julio',
            'agosto',
            'setiembre',
            'noviembre',
            'diciembre'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total descargas (canciones)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} canciones</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Baladas',
        data: [50, 120, 25, 65, 34, 15, 23, 54, 54, 65, 95, 84]

    }, {
        name: 'Pop',
        data: [83, 78, 98, 93, 106, 84, 105, 104, 91, 83, 106, 92]

    }, {
        name: 'Rock',
        data: [48, 38, 39, 41, 47, 48, 59, 59, 52, 65, 59, 51]

    }, {
        name: 'Regueton',
        data: [42, 33, 34, 39, 52, 75, 57, 60, 47, 39, 46, 51]

    }]
});
    </script>
{% endblock %}
