{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>{% trans 'Iniciar Sesión' %}</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 m-1">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                <form action="">
                    <div class="form-group text-center">
                        <h4 class="text-light">{% trans 'INICIAR SESIÓN' %}</h4>
                    </div>
                    <div class="form-group mx-sm-4 pt-3">
                        <input type="text" class="form-control" placeholder="{% trans 'Ingrese su usuario' %}">
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input type="text" class="form-control" placeholder="{% trans 'Ingrese su contraseña' %}">
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input type="submit" class="btn btn-block ingresar" value="{% trans 'Acceder' %}">
                    </div>
                    
                    <div class="form-group mx-sm-4 text-center">
                        <span class=""><a href="{% url 'recover' %}" class="olvide">{% trans '¿Olvidaste tu contraseña?' %}</a></span>
                    </div>
                    <div class="form-group mx-sm-4 text-center">
                        <span class=""><a href="{% url 'registration' %}" class="olvide1">{% trans 'Registrarse' %}</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}






